* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
.App_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .main_container {
  width: 100vh;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaee;
  overflow: hidden;
} */
.savesegment_container__inner{
  background: whitesmoke;
  overflow: hidden;
  border-radius: 5px;
  width: 30rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 1rem;
}

.savesegment_container__inner header {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: #5fc7c8;
  color: white;
  font-weight: bold;
}

.saveaudience_container__inner{
  background: whitesmoke;
  overflow: hidden;
  border-radius: 5px;
  width: 30rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 1rem;
}

.saveaudience_container__inner header {
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: #5fc7c8;
  color: white;
  font-weight: bold;
}

.save_btn{
  border: 1px solid black;
  border: none;
  background-color: #5fc7c8;
  text-decoration: none!important;
  text-align: center;
  font-size: 20px;
  color: white;
  width: 30%;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.save_btn:hover {
  color: black;
  background-color: #0fa1a3;
}

.SaveAudience_container p {
  margin: 0;
}

.SaveAudience_container {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.SaveAudience_container input {
  border: 1px solid gray;
  padding: 0.5rem;
  outline: none;
  border-radius: 3px;
}

.SaveAudience_container__traits {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  font-size: 11px;
}

.SaveAudience_container__addSchema {
  color: #1cc88a;
}

.SaveAudience_container__addSchema span {
  cursor: pointer;
  text-decoration: underline;
}

.saveaudience_container__inner footer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.saveaudience_container__inner footer button {
  width: auto;
}

.SaveAudience_container__button{
  border: none;
  background: #1ab37a;
  color: white;
  text-align: center;
  font-size: 17px;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}
.SaveAudience_container__button:hover{
  color: black;
  background-color: #13845ac1;
}
.cancel_btn{
  border: none;
  background: rgb(209, 205, 205);
  color: rgb(208, 10, 10);
  text-align: center;
  font-size: 17px;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}
.cancel_btn:hover{
  color: black;
  background-color: rgba(149, 143, 143, 0.916);
}
.SaveAudience_container__inputs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.SaveAudience_container__schemaInputs {
  border: 1px solid gray;
  outline: none;
  border-radius: 3px;
  padding: 0.5rem;
  width: 80%;
}

.deleteIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
